.background {
    background: url("home-background.jpg");
    background-size: cover;
    height: 90vh;
    position: absolute;
    width: 100%;
    color: white;
}

.form {
    padding: 30px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 2rem 3px black;
    position: absolute;
    width: 500px;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;  
}

.form input {
    border: 2px solid rgb(19, 19, 19);
    font-size: 1.25rem;
    color: white;
    background-color: #343a40;
    padding: 0.75rem;
    border-radius: 5px;
    width: 420px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form input::placeholder {
    color: grey;
}

.form button {
    border: none;
    background-color: #003468;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
    width: 420px;
    margin-left: 10px;
}

.form button:hover {
    background-color: #405469;
}

.error {
    font-size: 1rem;
    color: red;
    margin-bottom: 10px;
    margin-left: 10px;
}

.success {
    font-size: 1rem;
    color: green;
    margin-bottom: 10px;
    margin-left: 10px;
}